footer {
	margin-top: 8rem;
	background-color: $black;
	padding-block: 2rem;

	.wrapper {
		max-width: rem(1680);
		margin-inline: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		.logo {
			max-width: 150px;
			grid-column: 1/2;
		}

		.links {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			grid-column: 2/3;

			li {
				text-transform: uppercase;
				transition-property: color;
				transition-duration: 300ms;
				transition-timing-function: ease-in-out;
				width: fit-content;

				&:hover {
					color: $medBlue;
				}
			}
		}

		.socials {
			grid-column: 3/4;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: rem(20);

			a {
				font-size: rem(24);
			}
		}
	}
}

// @media only screen and (max-width: 1920px) {}

// @media only screen and (max-width: 1680px) {}

// @media only screen and (max-width: 1366px) {}

// @media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
	footer {
		margin-top: 2rem;
	}
}

// @media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {
	footer {
		padding-block: 1rem;

		.wrapper {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 3rem;

			.logo {
				grid-column: 1/3;
				margin-inline: auto;
			}

			.links {
				grid-row: 2/3;
				grid-column: 1/2;
			}

			.socials {
				grid-row: 2/3;
				grid-column: 2/3;
				justify-content: center;
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	footer .wrapper {
		grid-template-columns: 1fr;
		row-gap: 1.5rem;

		.logo {
			grid-column: 1/2;
		}

		.links {
			grid-column: 1/2;
		}

		.socials {
			grid-column: 1/2;
			grid-row: 3/4;
		}
	}
}
