@import "variables";

.grid-wrapper {
	display: grid;
	grid-template-columns: 500px 1fr 500px;
	grid-gap: 4rem;
	width: 100%;

	.left-col {
		grid-column: 1/2;

		.ticket {
			width: fit-content;

			&:hover .overlay-text {
				color: $white;
			}
		}
	}

	.center-col {
		grid-column: 2/3;

		.ticket {
			width: fit-content;
			justify-content: center;
			margin-inline: auto;

			&:hover .overlay-text {
				color: $white;
			}
		}
	}

	.right-col {
		grid-column: 3/4;
		text-align: right;
	}

	table {
		background-color: $transGrey;
		width: 100%;
		height: 100%;
		text-align: center;
		border-color: $medBlue;
		border-style: solid;
		border-width: 2px;

		tbody tr {
			&:nth-child(odd) td {
				background-color: $lightGrey;
			}

			td {
				color: $black;
				font-weight: 700;
			}
		}

		td {
			padding-inline: 0.5rem;

			&:not(:first-child) {
				padding-block: 0.5rem;
			}

			&:first-child {
				padding-block: 1rem;
			}
		}
	}

	.ticket {
		display: flex;
		width: fit-content;

		img {
			max-width: 180px;
		}

		.overlay-text {
			width: 100%;
			justify-content: center;
			color: $medBlue;
		}
	}
}

.contacts-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.contact {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;

		.link {
			transition-property: color;
			transition-duration: 300ms;
			transition-timing-function: ease-in-out;

			&:hover {
				color: $medBlue;
			}
		}
	}
}

.socials {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-end;

	.link {
		transition-property: color;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;

		&:hover {
			color: $medBlue;
		}
	}
}

.map {
	display: flex;
	justify-content: flex-end;
}

// History
.history-block p,
.history-block .p {
	color: $white;
}

.history-block h2.p {
	font-weight: bold;
	padding-bottom: 1rem;
}

@media only screen and (max-width: 1920px) {
	.grid-wrapper {
		grid-gap: 3rem;
	}
}

@media only screen and (max-width: 1680px) {
	.grid-wrapper {
		grid-gap: 2rem;
		grid-template-columns: 400px 1fr 400px;

		.gmap_canvas iframe {
			height: 200px;
		}
	}
}

@media only screen and (max-width: 1366px) {
	.grid-wrapper {
		grid-template-columns: 350px 1fr 350px;

		.gmap_canvas iframe {
			height: 250px;
		}
	}
}

@media only screen and (max-width: 1199px) {
	.grid-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);

		.left-col {
			grid-row: 1/2;
			grid-column: 1/2;
		}

		.right-col {
			grid-row: 1/2;
			grid-column: 2/3;
		}

		.center-col {
			grid-row: 2/3;
			grid-column: 1/3;
			max-width: 575px;
			justify-self: center;
			width: 100%;
		}
	}
}

@media only screen and (max-width: 991px) {
	.grid-wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);

		.left-col {
			grid-row: 1/2;
			grid-column: 1/2;

			.ticket {
				width: 100%;
			}
		}

		.center-col {
			grid-row: 2/3;
			grid-column: 1/2;
		}

		.right-col {
			grid-row: 3/4;
			grid-column: 1/2;
			margin-block: 4rem 0;
		}

		h1,
		.h1,
		p,
		.p {
			text-align: center;
		}

		.ticket {
			width: 100%;
			justify-content: center;
		}

		.contacts-wrapper .contact,
		.socials {
			justify-content: center;
		}
	}
}

// @media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {
	.grid-wrapper .gmap_canvas iframe {
		height: 200px;
	}
}

// @media only screen and (max-width: 360px) {}
